################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cDiInfo/Debug
/Debug
/cDiInfo.VC.db
/cDiInfo.VC.VC.opendb
/cDiInfo/Release
/cDiInfo/x64/Debug
/x64/Debug
/.vs
/cDiInfo/x64/Release/cDiInfo.tlog
/cDiInfo/x64/Release/cDiInfo.tlog
/cDiInfo/x64/Release
/x64/Release
/enc_temp_folder/9bb5ae79849b5fad9065e3e6db7680e1
/enc_temp_folder/d90e5d36a1c2d611f8174102d63d1fa
/Release
