################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/cDiInfo/Debug
/Debug
/cDiInfo.VC.db
/cDiInfo.VC.VC.opendb
/cDiInfo/Release
/cDiInfo/x64/Debug
/x64/Debug
/.vs
/cDiInfo/x64/Release/cDiInfo.tlog
/cDiInfo/x64/Release/cDiInfo.tlog
/cDiInfo/x64/Release
/x64/Release
